.bottomone {
  min-height: 100%;
  background-color: #38a3a5;
  margin: 30px;

  .row {
    content: "";
    display: table;
    clear: both;
    width: 100%;
    height: 100%;
    .column {
      display: flex;
      float: left;
      img {
        margin: 50px;
        width: 100%;
        border-color: white;
        border-style: solid;
        border-width: 3pt;
        border-radius: 60%;
        float: left;
      }
    }

    .column {
      display: flex;
      width: 45%;
      height: 45%;
      h1 {
        padding-top: 70px;
        padding-left: 40px;
        width: 30px;
        color: white;
        font-size: 26pt;
      }
      p {
        padding-top: 150px;
        padding-left: 40px;
        color: white;
        font-size: 14pt;
      }
    }
  }
}
